<h1>Listagem de funcionários</h1>

<table>
  <tr>
    <th>id</th>
    <th>Nome</th>
    <th>Data de Nascimento</th>
    <th>Salário</th>
    <th>Departamento</th>
    <th>Ações</th>
  </tr>
  <% @employees.each do |employee| -%>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.name %></td>
      <td><%= employee.birth %></td>
      <td><%= employee.salary %></td>
      <td><%= employee.department.name %></td>
      <td>
        <a href="/employee/edit/<%= employee.id %>">
          <button>
            Editar
          </button>
        </a>

        <a href="/employee/delete/<%= employee.id %>">
          <button>
            Excluir
          </button>
        </a>
      </td>
    </tr>
  <% end -%>
</table>

<br>

<a href="/employee/add">
  <button>
    Novo funcionário
  </button>
</a>

<a href="/">
  <button>
    Dados gerais
  </button>
</a>
