<h1>Editar departamento</h1>

<form action="/department/save" method="post">
  Id<br>
  <input type="text" name="id" value="<%= @department.id %>"><br>
  Nome<br>
  <input type="text" name="name" value="<%= @department.name %>"><br>
  Gerente<br>
  <select name="employee_id">
    <option value="0">.: SELECIONE :.</option>
    <% @employees.each do |employee| -%>
      <% if @department.employee_id == employee.id %>
        <option value="<%= employee.id %>" selected="selected" > <%= employee.name %> </option>
      <% else %>
        <option value="<%= employee.id %>"> <%= employee.name %> </option>
      <% end %>
    <% end %>
  </select>

  <br><br>

  <input type="submit" value="Salvar">
  <a href="/department/index">
    <button>
      Departamentos
    </button>
  </a>
</form>


